/* Start Footer */
footer {
    font-size: 14px;
    background-color: #F1F1F1;
    .info,
    .about-us {
        a {
            transition: $transition;
            &:hover {
                color: $blueColor !important;
            }
        }
    }
    .info {
        height: fit-content;
        img {
            max-width: 100% !important;
        }
        .icon-info {
            width: fit-content;
            @include social-color('.location', $whiteColor, $blueColor);
            @include social-color('.email', $whiteColor, $greenColor);   
        }
    }
    .network {
        height: fit-content;
        .social {
            svg {
                width: 22px;
                height: 22px;
            }
            @include social-color('.facebook', $blueColor, none);
            @include social-color('.instagram', $greenColor, none);
            @include social-color('.twitter', $redColor, none);
            @include social-color('.google', $yellowColor, none);
        }
    }
   
}
/* End Footer */